html{
    font-family: Bradley Hand, cursive;
    font-size: 14px;
    background: rgb(160, 4, 43);
}
.columns {
    display: flex;
    margin-top: 100px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 20px;

}

.main-column {
    flex: 2;
}

.article {
    background: white;
    color: #666;
    flex: 1;
    margin: 10px;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
    border-radius: 10px;
}
.article-image{
    left: 0;
    top: 0;
    display: block;
    border-radius: 10px;
    width: 100%;
}
.article-body{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}
.article-content{
    flex: 1;
    margin-top: 5px;
}
.article-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
a {
    text-decoration: none;
}
.article-img{
    width: auto;
}
.article-imagee{
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    border-radius: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    color: white;
}
li{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}
.logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 7px;
    position: fixed;
    top: 0;
    width: 99%;
}
.light{
    color: rgb(242, 0, 255);
}
.p{
    color: white;
}
a{
    text-decoration: none;
}
.picture {    
    height: 400px;
    width: 400px;
    display: none;
    transition: 0.4s;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}
.picture img, .labels img{
    height: 100%;
    width: 100%;
}



#toggler1:checked~.picture1, 
#toggler2:checked~.picture2,
#toggler3:checked~.picture3,
#toggler4:checked~.picture4,
#toggler5:checked~.picture5,
#toggler6:checked~.picture6,
#toggler7:checked~.picture7,
#toggler8:checked~.picture8,
#toggler9:checked~.picture9,
#toggler10:checked~.picture10,
#toggler11:checked~.picture11,
#toggler12:checked~.picture12,
#toggler13:checked~.picture13,
#toggler14:checked~.picture14,
#toggler15:checked~.picture15,
#toggler16:checked~.picture16,
#toggler17:checked~.picture17,
#toggler18:checked~.picture18,
#toggler19:checked~.picture19,
#toggler20:checked~.picture20,
#toggler21:checked~.picture21,
#toggler22:checked~.picture22,
#toggler23:checked~.picture23,
#toggler24:checked~.picture24,
#toggler25:checked~.picture25,
#toggler26:checked~.picture26,
#toggler27:checked~.picture27,
#toggler28:checked~.picture28,
#toggler29:checked~.picture29,
#toggler30:checked~.picture30,
#toggler31:checked~.picture31,
#toggler32:checked~.picture32,
#toggler33:checked~.picture33,
#toggler34:checked~.picture34,
#toggler35:checked~.picture35,
#toggler36:checked~.picture36,
#toggler37:checked~.picture37 {    
    display: block;
}
label{
    width: 85px;
    height: 85px;
    display: inline-block;
    transition: 0.4s;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}
input[type="radio"]{
    display: none;
}
label:hover{
transform: scale(1.1);
}
.picture:hover{
    transform: scale(1.07); 
}
.labels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 7px;
    position: fixed;
    top: 0;
    width: 99%;
}
.logo{
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
}
.gallery{
    margin-top: 115px;
}
.tiktokimg:hover{
    transform: scale(1.07); 
}
.telegaimg:hover{
    transform: scale(1.07); 
}
.telegaimg{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 21.5%;
    margin-top: 200px;
    transition: 0.4s;
}
.tiktokimg{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 21.5%;
    margin-top: 200px;
    transition: 0.4s;
}
.contact{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
}
.firstrow, .secondrow{
    display: flex;
    flex-direction: row;
}

.texttomain {
    font-size: 4em;
    color: #420e0e;
    text-transform: uppercase;
    margin-top: 300px;
    text-align: center;
    -webkit-box-reflect:below -15px linear-gradient(transparent, #0004);
    margin-left: 0;
}


.texttomain span {
    animation: animate 5s linear infinite;
 }

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #420e25;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: rgb(248, 20, 58);
        text-shadow: 0 0 10px #840035, 0 0 20px #550022, 0 0 40px #f4030b, 0 0 80px #f4037b, 0 0 160px #f4036b, 0 0 400px #f40303;
    }
}
.texttomain span:nth-child(even){
    animation-delay: 0.4s
}
@media (max-width: 1399.98px) { 
}
@media (max-width: 1199.98px) {
    .texttomain{
        margin-left: 80px;
    }
}
@media (max-width: 991.98px) {
    li {
        margin-left: 14px;
        margin-right: 14px;
    }
    .columns{
        flex-direction: column;
    }
}
@media (max-width: 767.98px) {
    li {
        margin-left: 2px;
        margin-right: 2px;
    }
}
@media (max-width: 575.98px) {
    li{
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .contact{
        flex-direction: column;
    }
    .texttomain{
        margin-left: 15px;
    }
    .firstrow, .secondrow{
        display: flex;
        flex-direction: column;
    }
    .header{
        width: 97%;
        height: 15%;
    }
    .secondrow{
        margin-right: 5px;
    }
}
@media (max-width: 414.98px) {
    .header {
        height: 11%;
    }
    li{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


